@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-black-400 text-16;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    @apply font-normal text-16 leading-[24px];
}

svg {
    @apply fill-current;
}

#root {
    @apply pt-32;
}

.container-lg {
    @apply w-full mx-auto;
}

.container-lg {
    max-width: 1140px;
}

.textstyle-head-1 {
    @apply font-medium text-40;
}
.textstyle-head-2 {
    @apply font-medium text-24;
}
.textstyle-head-3 {
    @apply font-medium text-16;
}
.textstyle-label {
    @apply font-normal text-14;
}
